<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/screen.css">
    <link rel="stylesheet" href="/assets/css/print.css" type="text/css">
    <title>Javier Sánchez · {{ page.html-title }}</title>
    <meta name="title" content="Javier Sánchez · {{ page.html-title }}">
    <meta name="description" content="{{ page.html-description }}">
    <meta name="author" content="Javier Sánchez">
    <link rel="canonical" href="https://www.javiersanchez.net/">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Javier Sánchez" href="/feed.xml" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.javiersanchez.net/">
    <meta property="og:title" content="Javier Sánchez · Home">
    <meta property="og:description" content="Javier Sánchez’s Personal Website">
    <meta property="og:image" content="https://javiersanchez.net/icons/icon-1200x628.png">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://www.javiersanchez.net/">
    <meta property="twitter:title" content="Javier Sánchez · Home">
    <meta property="twitter:description" content="Javier Sánchez’s Personal Website">
    <meta property="twitter:image" content="https://javiersanchez.net/icons/icon-1200x628.png">
    <meta property="twitter:site" content="@javidotpro">

    <link rel="shortcut icon" href="https://javiersanchez.net/favicon.ico">
    <link rel="icon" type="image/png" href="https://javiersanchez.net/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://javiersanchez.net/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://javiersanchez.net/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://javiersanchez.net/icons/favicon-128x128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="https://javiersanchez.net/icons/favicon-196x196.png" sizes="196x196">
    <link rel="apple-touch-icon" href="https://javiersanchez.net/icons/apple-touch-icon-180x180.png" sizes="180x180">
    
    <meta name="application-name" content="Javier Sánchez">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="https://javiersanchez.net/icons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="https://javiersanchez.net/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="https://javiersanchez.net/icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="https://javiersanchez.net/icons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="https://javiersanchez.net/icons/mstile-310x310.png">