<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Javier Sánchez · {{ page.html-title }}</title>
    {%- include head.html -%}
  </head>
  <body>
    {%- include navigation.html -%}

    <main>
        <header>
            <h1>Posts</h1>
            <p>Certainly I don't write as much as I'd like, sometimes just because time is limited but others because I'm just enjoying life outside the matrix.</p>
        </header>

        <section>
            {% for post in site.posts %}
            <ul>
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a><br>
                    <time>{{ post.date | date_to_long_string }}</time>
                 </li>
            </ul>
            </article>
          {% endfor %}

        </section>

    </main>

    {%- include footer.html -%}
  </body>
</html>
