<section class="limit">
    <h2>Elsewhere</h2>
    <ul class="home-list">
      <li><span>Studio </span><a href="http://blabla.co">Potat</a></li>
      <li><span>Email </span><a href="mailto:iam@javiersanchez.net">iam@javiersanchez.net</a></li>
      <li><span>Newsletter </span><a href="https://buttondown.email/potat">Sign up</a></li>
      <li><span>Micro.blog </span><a href="https://micro.blog/jsanchez">@jsanchez</a></li>
      <li><span>Twitter </span><a href="https://twitter.com/javidotpro">@javidotpro</a></li>
      <li><span>Mastodon </span><a href="https://mastodon.me.uk/@javi">@javi@mastodon.me.uk</a></li>
    </ul>
  </section>