<section class="limit">
    <h2>Elsewhere</h2>
    <ul class="home-list">
      <li><span>Email </span><a href="mailto:iam@javiersanchez.net?subject=Hey%20there%20Javier%20👋&amp;body=👉%20You%20can%20write%20anything%20you%20want%20to%20say%20here.">iam@javiersanchez.net</a></li>
      <li><span>Newsletter </span><a href="https://buttondown.email/potat">Sign up</a></li>
      <li><span>Micro.blog </span><a href="https://micro.blog/jsanchez">@jsanchez</a></li>
      <li><span>GitLab </span><a href="https://git.coop/javi">git.coop/javi</a></li>
      <li><span>Twitter </span><a href="https://twitter.com/javidotpro">@javidotpro</a></li>
      <li><span>Mastodon </span><a href="https://mastodon.me.uk/@javi">@javi@mastodon.me.uk</a></li>
    </ul>
  </section>