<h2>Random thoughts</h2>
      <ul class="home-list">
        <li><span>12.11.2020 </span><a href="https://www.javi.me.uk/2020/11/12/just-like-that.html">Just like that the week is nearly over, nothing...</a></li>
        <li><span>07.11.2020 </span><a href="https://www.javi.me.uk/2020/11/07/earlier-on-this.html">Earlier on this week we went to our favourite sea side...</a></li>
        <li><span>26.09.2020 </span><a href="https://www.javi.me.uk/2020/09/26/as-part-of.html">As part of our family tradition, we’ve got our first...</a></li>
        <li><span>26.09.2020 </span><a href="https://www.javi.me.uk/2020/09/26/first-trip-of.html">First trip of the year to Greenwich Park, it’s...</a></li>
        <li><span>05.09.2020 </span><a href="https://www.javi.me.uk/2020/09/05/goodbye-my-little.html">Goodbye my little Skippy, you’ve been the...</a></li>
        <li><span>16.08.2020 </span><a href="https://www.javi.me.uk/2020/08/16/just-thinking-about.html">Just thinking about how nice it was our last dip in...</a></li>
        <li><span>26.06.2020 </span><a href="https://www.javi.me.uk/2020/06/25/enjoying-a-lovely.html">Enjoying a lovely hibiscus ice tea from Good and Proper...</a></li>
        <li><span>24.06.2020 </span><a href="https://www.javi.me.uk/2020/06/24/todays-lunch-was.html">Today’s lunch was just summer on a plate. Ripe and...</a></li>
        <li><span>23.06.2020 </span><a href="https://www.javi.me.uk/2020/06/23/just-thinking-about.html">Just thinking about yesterday’s trip to the allotment...</a></li>
        <li><span>23.06.2020 </span><a href="https://www.javi.me.uk/2020/06/23/today-lovely-nioise.html">Today, lovely Niçoise salad which is also a total...</a></li>
        <li><span>05.06.2020 </span><a href="https://www.javi.me.uk/2020/06/05/throwback-to-last.html">Throwback to last year visit to Teteria Almedina back in...</a></li>
        <li><span>21.03.2020 </span><a href="https://www.javi.me.uk/2020/03/21/we-had-a.html">We had a little bit of TLC this afternoon, made some delicious...</a></li>
        <li><span>07.03.2020 </span><a href="https://www.javi.me.uk/2020/03/07/the-last-time.html">The last time I read Offscreen I was on a beach in Vietnam...</a></li>
        <li><span>28.02.2020 </span><a href="https://www.javi.me.uk/2020/02/28/very-excited-to.html">Very excited to try on Saturday this new coffee...</a></li>
      </ul>
