<h2>Random thoughts</h2>
      <ul class="home-list">
        <li><span>05.09.20 </span><a href="https://www.javi.me.uk/2020/09/05/goodbye-my-little.html">Goodbye my little Skippy, you’ve been the absolute...</a></li>
        <li><span>16.08.20 </span><a href="https://www.javi.me.uk/2020/08/16/just-thinking-about.html">Just thinking about how nice it was our last dip in Brighton...</a></li>
        <li><span>26.06.20 </span><a href="https://www.javi.me.uk/2020/06/25/enjoying-a-lovely.html">Enjoying a lovely hibiscus ice tea from Good and Proper...</a></li>
        <li><span>24.06.20 </span><a href="https://www.javi.me.uk/2020/06/24/todays-lunch-was.html">Today’s lunch was just summer on a plate. Ripe and juicy...</a></li>
        <li><span>23.06.20 </span><a href="https://www.javi.me.uk/2020/06/23/just-thinking-about.html">Just thinking about yesterday’s trip to the allotment...</a></li>
        <li><span>23.06.20 </span><a href="https://www.javi.me.uk/2020/06/23/today-lovely-nioise.html">Today, lovely Niçoise salad which is also a total star...</a></li>
        <li><span>05.06.20 </span><a href="https://www.javi.me.uk/2020/06/05/throwback-to-last.html">Throwback to last year visit to Teteria Almedina back in...</a></li>
        <li><span>21.03.20 </span><a href="https://www.javi.me.uk/2020/03/21/we-had-a.html">We had a little bit of TLC this afternoon, made some delicious...</a></li>
        <li><span>07.03.20 </span><a href="https://www.javi.me.uk/2020/03/07/the-last-time.html">The last time I read Offscreen I was on a beach in Vietnam...</a></li>
        <li><span>28.02.20 </span><a href="https://www.javi.me.uk/2020/02/28/very-excited-to.html">Very excited to try on Saturday this new coffee from...</a></li>
        <li><span>21.12.19 </span><a href="https://www.javi.me.uk/2019/12/21/margate-youre-beautiful.html">Margate, you’re beautiful in the winter.</a></li>
        <li><span>16.11.19 </span><a href="https://www.javi.me.uk/2019/11/16/we-absolutely-love.html">We absolutely love coming to the sea side in...</a></li>
      </ul>
