<h2>Random thoughts</h2>
      <ul class="home-list">
        <li><span>14.04.2021 </span><a href="https://www.javi.me.uk/2021/04/14/someone-is-really.html">Someone is really enjoying the sun today...</a></li>
        <li><span>14.04.2021 </span><a href="https://www.javi.me.uk/2021/04/14/morning-coffee-today.html">Morning coffee today from Square Mile Roasters...</a></li>
        <li><span>13.04.2021 </span><a href="https://www.javi.me.uk/2021/04/13/last-weekend-we.html">Last weekend we did a virtual cooking class with...</a></li>
        <li><span>28.02.2021 </span><a href="https://www.javi.me.uk/2021/02/28/very-much-needed.html">Very much needed Oxygene this Sunday morning...</a></li>
        <li><span>16.02.2021 </span><a href="https://www.javi.me.uk/2021/02/16/my-good-friend.html">My good friend Tom Miller has just sent me...</a></li>
        <li><span>07.02.2021 </span><a href="https://www.javi.me.uk/2021/02/07/so-this-happened.html">So, this happened, this little one came...</a></li>
        <li><span>24.01.2021 </span><a href="https://www.javi.me.uk/2021/01/24/baby-its-cold.html">Baby, It’s cold outside...</a></li>
        <li><span>18.01.2021 </span><a href="https://www.javi.me.uk/2021/01/18/thinking-about-this.html">Thinking about this lovely Kimchi and Miso Noodle Soup...</a></li>
        <li><span>16.01.2021 </span><a href="https://www.javi.me.uk/2021/01/16/forgot-to-share.html">Forgot to share this lovely coffee that we had from...</a></li>
        <li><span>01.01.2021 </span><a href="https://www.javi.me.uk/2021/01/01/just-enjoyed-another.html">Just enjoyed another film from Pedro Almodóvar...</a></li>
        <li><span>23.12.2020 </span><a href="https://www.javi.me.uk/2020/12/23/tonight-weve-watched.html">Tonight, we’ve watched Moonstruck, just like every...</a></li>
        <li><span>06.12.2020 </span><a href="https://www.javi.me.uk/2020/12/06/just-thinking-about.html">Just thinking about how delicious was this recipe from Diana...</a></li>
      </ul>
